<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<h1 class="font-weight-light text-center text-lg-left mt-3 mb-0">500 - Internal Server Error</h1>
<hr class="mt-2 mb-5">

<%- include('includes/end.ejs') %>