h1, h2, h3, h4 {
  font-weight: 300;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p.image-title {
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
}

.fixed-bottom-right {
  position: fixed;
  max-width: 35%;
  right: 15px;
  bottom: 0px;
}

.image-detail {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  max-width: 300px;

}

.img-preview {
  display: none;
  max-width: 200px;
  margin-bottom: 2rem;
}

.delete-selection-controls {
  width: 10rem;
}

.delete-checkbox-wrapper {
  height: 100%!important;
}

.uploaded-images td.delete-checkbox {
  width: 25px;
}

.uploaded-images td.delete-checkbox input {
  margin: auto 0;
}

.uploaded-images td.thumbnail {
  height: 100px;
  width: 100px;
}

.uploaded-images td.thumbnail img {
  max-width: 100px;
}

.uploaded-images td.tags {
  max-width: 400px;
}

.uploaded-images td.upload-date {
  width: 100px!important;
}

.uploaded-images td.edit-date {
  width: 200px;
}

@media (max-width: 400px) {
  .uploaded-images td.upload-date,
  th.upload-date {
    display: none;
  }
}
